<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AudioAllowAACPass</key>
		<true/>
		<key>AudioAllowAC3Pass</key>
		<true/>
		<key>AudioAllowDTSHDPass</key>
		<true/>
		<key>AudioAllowDTSPass</key>
		<true/>
		<key>AudioAllowMP3Pass</key>
		<true/>
		<key>AudioEncoderFallback</key>
		<string>AC3</string>
		<key>AudioLanguageList</key>
		<array>
			<string>eng</string>
		</array>
		<key>AudioList</key>
		<array>
			<dict>
				<key>AudioBitrate</key>
				<integer>160</integer>
				<key>AudioEncoder</key>
				<string>AAC (CoreAudio)</string>
				<key>AudioMixdown</key>
				<string>Dolby Pro Logic II</string>
				<key>AudioSamplerate</key>
				<string>Auto</string>
				<key>AudioTrackDRCSlider</key>
				<real>0.0</real>
				<key>AudioTrackGainSlider</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>AudioSecondaryEncoderMode</key>
		<false/>
		<key>AudioTrackSelectionBehavior</key>
		<string>first</string>
		<key>ChapterMarkers</key>
		<true/>
		<key>Default</key>
		<false/>
		<key>FileFormat</key>
		<string>MP4 File</string>
		<key>Folder</key>
		<integer>0</integer>
		<key>Mp4HttpOptimize</key>
		<integer>1</integer>
		<key>Mp4iPodCompatible</key>
		<integer>0</integer>
		<key>PictureAutoCrop</key>
		<integer>1</integer>
		<key>PictureBottomCrop</key>
		<integer>2</integer>
		<key>PictureDeblock</key>
		<integer>0</integer>
		<key>PictureDecomb</key>
		<integer>0</integer>
		<key>PictureDecombCustom</key>
		<string></string>
		<key>PictureDecombDeinterlace</key>
		<true/>
		<key>PictureDeinterlace</key>
		<integer>0</integer>
		<key>PictureDeinterlaceCustom</key>
		<string></string>
		<key>PictureDenoiseCustom</key>
		<string></string>
		<key>PictureDenoiseFilter</key>
		<string>off</string>
		<key>PictureDenoisePreset</key>
		<string>medium</string>
		<key>PictureDenoiseTune</key>
		<string>none</string>
		<key>PictureDetelecine</key>
		<integer>0</integer>
		<key>PictureDetelecineCustom</key>
		<string></string>
		<key>PictureHeight</key>
		<integer>368</integer>
		<key>PictureKeepRatio</key>
		<integer>1</integer>
		<key>PictureLeftCrop</key>
		<integer>2</integer>
		<key>PictureModulus</key>
		<integer>2</integer>
		<key>PicturePAR</key>
		<integer>2</integer>
		<key>PictureRightCrop</key>
		<integer>2</integer>
		<key>PictureTopCrop</key>
		<integer>2</integer>
		<key>PictureWidth</key>
		<integer>460</integer>
		<key>PresetBuildNumber</key>
		<string>2016021100</string>
		<key>PresetDescription</key>
		<string></string>
		<key>PresetName</key>
		<string>DVD Series Release Normal (RF25)</string>
		<key>SubtitleAddCC</key>
		<false/>
		<key>SubtitleAddForeignAudioSearch</key>
		<false/>
		<key>SubtitleAddForeignAudioSubtitle</key>
		<false/>
		<key>SubtitleLanguageList</key>
		<array/>
		<key>SubtitleTrackSelectionBehavior</key>
		<string>none</string>
		<key>Type</key>
		<integer>1</integer>
		<key>UsesMaxPictureSettings</key>
		<integer>0</integer>
		<key>UsesPictureFilters</key>
		<integer>1</integer>
		<key>UsesPictureSettings</key>
		<integer>1</integer>
		<key>VideoAvgBitrate</key>
		<string>2500</string>
		<key>VideoEncoder</key>
		<string>H.264 (x264)</string>
		<key>VideoFramerate</key>
		<string>Same as source</string>
		<key>VideoFramerateMode</key>
		<string>vfr</string>
		<key>VideoGrayScale</key>
		<false/>
		<key>VideoLevel</key>
		<string>4.0</string>
		<key>VideoOptionExtra</key>
		<string></string>
		<key>VideoPreset</key>
		<string>veryslow</string>
		<key>VideoProfile</key>
		<string>main</string>
		<key>VideoQualitySlider</key>
		<real>25</real>
		<key>VideoQualityType</key>
		<integer>2</integer>
		<key>VideoTune</key>
		<string></string>
		<key>VideoTurboTwoPass</key>
		<integer>0</integer>
		<key>VideoTwoPass</key>
		<integer>0</integer>
		<key>x264Option</key>
		<string>level=4.0:ref=16:bframes=8:b-adapt=2:direct=auto:analyse=all:8x8dct=0:me=umh:merange=24:subme=10:trellis=2:vbv-bufsize=25000:vbv-maxrate=20000:rc-lookahead=60</string>
		<key>x264UseAdvancedOptions</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
